/* .content {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto;
  height: calc(100% - 100px);
}

.sidebar.left {
  grid-column: 1 / 2;
}

.main-content {
  grid-column: 2 / 3;
}

.sidebar.right {
  grid-column: 3 / 4;
}

.block-3,
.block-5,
.block-6 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
